body {
  background: rgb(0,0,0);
background: linear-gradient(180deg, rgba(0,0,0,1) 27%, rgba(42,5,69,1) 85%, rgba(88,26,136,1) 100%);
  color: white;  
  font-size: bold;
} /*background-color: #390f5a */ 
img {
    height: 100vh;
    object-fit: cover;
}
 .navbar-brand img {
    height: auto; 
} 
.navbar-extra-dark{
  background-color: #000;
}
.card {
    overflow: hidden;
  }
  .imgsize{
    width: 10%;}
.zoomable-image-container {
    overflow: hidden;
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .zoomable-image {
    transition: transform 0.3s ease;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  
  .zoomable-image-container:hover .zoomable-image {
    transform: scale(1.1);
  }
#c1{
width: 172%;
}
#c2{
    width:150%;   
}
#c3{
    width: 172% ;   
}
.inicio{
  white-space:nowrap;
}


